.body{
	font-family: Times New Roman;
}

h1{
	font-family: Times New Roman;
}
.container{
	font-family: Times New Roman;
	border: 2px solid black;
	width: 800px;
	padding: 10px;
	display: inline-block;
}


.mealContainer{
	font-family: Times New Roman;
	border: 3px solid black;
	width: 350px;
	padding: 10px;
	display: inline-block;
	height: 175px;
	vertical-align: top;
}

.workoutContainer{
	font-family: Times New Roman;
	border: 3px solid black;
	width: 350px;
	padding: 10px;
	display: inline-block;
	height: 175px;
	vertical-align: top;
}

label{
display: inline-block;
width:200px;
margin-right:30px;
text-align:center;
}

.meals{
	font-family: Times New Roman;
	border: 3px solid black;
	border-top: 0px;
	width: 350px;
	padding: 10px;
	display: inline-block;
	vertical-align:top;
	min-height: 400px;
}

.workouts{
	font-family: Times New Roman;
	border: 3px solid black;
	border-top: 0px;
	width: 350px;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	min-height: 400px;

}

.add-workout-btn{
	font-family: Times New Roman;
}

.del-workout-btn{
	font-family: Times New Roman;
}

.add-meal-btn{
	font-family: Times New Roman;
}

.del-meal-btn{
	font-family: Times New Roman;
}

h2{
    font-family: Times New Roman;
    font-size: 16px;
 /*   display: inline-block;*/
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

h4{
	font-family: Times New Roman;
	font-size: 16px;
}

h4:hover {
  color: #6E6E6E;
  text-decoration: underline #6E6E6E;
}

.mealBox:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border: 5px solid #6E6E6E
}
.mealBox{
	font-family: Times New Roman;
	border: 1px solid black;
	padding: 5px;
}

.workoutBox:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
   transform: scale(1.05);
   -webkit-transition-duration: 0.5s;
   transition-duration: 0.5s;
   border:5px solid #6E6E6E;
}

.workoutBox{
	font-family: Times New Roman;
	border: 1px solid black;
	padding:5px;
}
